html,
body {
    margin: 0px;
    background-color: rgb(221, 217, 207);
    padding: 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#1e1d1d;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    position: fixed;
}
footer{
    color: #1e1d1d;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 10px;
    flex-direction:row;

}
a{
    text-decoration: none;
    color: inherit;
}

a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: line-through;
    color: inherit;
}
/*************************************Global style for all pages*************************************/
/*************************************main_index_first_impression*************************************/
/*ALL Header Container Css*/
.main_header{
    display: flex;
    position: fixed;
    width: 1000px;
}
@media(max-width:765px)
{
    .main_header{
        width: 765px;
    }
}
.mfci_content_1 {
    margin-left: 100px;
    width: 100%;
    font-family:Cascadia Mono ExtraLight;
}

.mfci_content_2 {
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family:Cascadia Mono ExtraLight;
}

/*Footer Global All The Page*/
.main_footer{
    display: flex;
}
.footer_content{
    display: flex;
    width: 100%;
    justify-content:space-between;
    position: absolute;
    bottom: 10px;
    flex-direction: row;
}
.footer_content_1{
    margin-left: 100px;
}
.footer_content_2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 40%;
}

.fc2_content_1{
    display: flex;
    flex-direction: row;
}
.fc2_content{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}

/*Page Coustome Css Start*/
.main_container_contact {
    display: flex;
    max-width: 100%;
}
.main_container_skill{
    display: flex;
    flex-direction:column;
    width: 100%;
}
.main_contect_container_1_child{
    display: flex;
}
.mcc1c_container_1{
    color:#1e1d1d;
    font-size: 65px;
    margin-top: 50px;
    margin-left: 250px;
    font-family: Goudy Old Style;
}
.mcc1c_container_2{
    color:#3d3a3a;
    font-weight:200 ;
    font-family:Dubai Light;
    font-size: 50px;
}
.mcc1c_container_3{
    color:#3d3a3a;
    font-weight:200 ;
    font-family:Dubai Light;
    font-size: 15px;
    width: 500px;
}
.mcc1c_container_4{
    color:#1e1d1d;
    font-weight:200 ;
    font-family:Dubai Light;
    font-size: 25px;
}
.mcc1c_container_4_input{
    width: 400px;
    background-color: transparent;
    border: 1px solid #1e1d1d;
    font-family:Dubai Light;
    height: 50px;
    margin-bottom: 10px;
}
.mcc1c_container_5{
    color:#313030;
    font-weight:200 ;
    font-size: 20px;
    font-family:Dubai Light;
}
.contect_design_image{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.contect_back_hii{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.container_image_next_about{
    margin-top: 55px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    margin-left :200px;
}
.contect_hii{
    display: flex;
    flex-direction: column;
}
.contect_back_img{
    width: 400px;
}
@media screen and (max-width: 720px) {
    .main_container_contact {
        display: flex;
        max-width: 200PX;
        max-height:100px;
    }
    .main_contact_container_1_child {
        max-width: 200px;
    }
    .mcc1c_container_1{
        font-size: 20PX;
    }
    .contect_design_image{
        padding-right: 100PX;
    }
    .container_image_next_about{
        width:150px;
        margin-top: 100px;
        margin-bottom: 10px;
        padding-bottom: 100px;
        margin-left :20px;
    }
    .mcc1c_container_2{
        font-size: 15px;
    }
    .mcc1c_container_3{

        font-size: 10px;
        width: 250PX;
    }
    .mcc1c_container_5
    {
        font-size: 13px;
    }
    .main_footer{
        display: flex;
        justify-content: center;
        height:100px;
    }
    footer{
        display: flex;
    
    }
  }