html,
body {
    margin: 0px;
    background-color: rgb(248, 200, 140);
    padding: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    position: fixed;
    z-index: 1;
}

footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 10px;
    flex-direction: row;
    z-index: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: line-through;
    padding-left: 10px;
    color: inherit;
}
.onhoverITag:hover {
    font-style: italic;
}

.grey_white {
    color: rgb(189, 188, 188);
}
.DisplayNone{
    display: none;
}
/*************************************Global style for all pages*************************************/
/*************************************main_index_first_impression*************************************/
.main_container_index {
    display: flex;
    width: 100%;
    height: 750px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main_row_index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 70px;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.main_back_image_index {
    display: flex;
    width: 100%;
    height: 900px;
    top: 0px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.main_fix_container_index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    position: relative;
    z-index: 0;
}

/*Z Index of first three container ends here*/
/*Visible Contents*/
/*main_back image css*/
.main_image_content_index {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 0;
    flex-direction: column;
}

/*Overlay content*/
.main_back_image_index_class {
    width: 500px;
    height: 500px;
    background-position: right;
    background-size: cover;
}

.mici_content_1 {
    transition: transform .3s ease-in-out, color .3s ease-in-out, font-size .3s ease-in-out;
    display: flex;
    font-family: Candara Light;
    justify-content: center;
    align-items: center;
    transition-duration: 3s;
    animation-name: first_ani_my_name_1;
    animation-duration: 2s;
    font-size: 40px;
    position: sticky;
}

@keyframes first_ani_my_name_1 {
    0% {
        opacity: 0;
        display: none;
        top: 300px;
    }


    100% {
        top: 0px;
        opacity: 1;
    }
}

/**/
.mcic_content {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.mcicc1_content_1,
.mcicc1_content_2 {
    color: white;
}

.mcicc1_content_1 {
    font-size: 20px;
    color: white;
    font-family: Candara Light;
}

.mcicc1_content_2 {
    font-size: 8px;
    line-height: 20px;
    width: 300px;
    color: rgb(134, 134, 134);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    
}

.main_container_index_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background-color: #1e1d1d;
}

.mfci_content_1 {
    margin-left: 200px;
    width: 100%;
    font-family: Cascadia Mono ExtraLight;
}
.mfci_content_2 {
    margin-right: 200px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Cascadia Mono ExtraLight;
}

.mici_content_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: sticky;
    color: rgba(12, 12, 48, 0.735);
    font-family: Candara Light;
}

/*Footer Global All The Page*/

.footer_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    flex-direction: row;
}

.footer_content_1 {
    margin-left: 100px;
}

.footer_content_2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 40%;
}

.fc2_content_1 {
    display: flex;
    flex-direction: row;
}

.fc2_content {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}